
.DailyChart{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 380px;
}

.Dailycharttext{
    width: 800px;
    padding-left: 1em;
}

.DailyY{
    width: 100% !important;
    margin: 0 !important;
}