
.monthly-department-dialog{
    max-width: 100%;
    width: 880px;
}

.departmentdialogTables-section{
    margin: 0 auto !important;
    width: 100%;
    padding: 0 1em;
}

.departmentdialog-table{
    max-width: 100%;
    width: 100% !important;
}