
.WeeklyRevenueLeakage-dialog{
  max-width: 100%;
  width: 880px !important;
}

.WeeklyRevenueLeakagedTables-section{
    margin: 0 auto !important;
    width: 100%;
    padding: 0 2em;
}

.WeeklyRevenueLeakage-Table{
    max-width: 100%;
    width: 100% !important;
}