

.Dialogs{
    max-width: 100%;
    width: 53.6% !important;
    place-content: center !important;
}

.DialogH{
    padding: 0.6em 1em;
}

.searchDepartment{
    margin-top: -0.6em;
    padding: 1em 0.2em;
}

.DialogCell1{
    position: relative;
    left: -0.8em;
}

.doctor-ratingfil{
    min-width: 108px !important;
}

.print-table{
    width:100%;
    table-layout:fixed;
    border-collapse:collapse;
}

.print-table th:nth-child(1),
.print-table td:nth-child(1){
    width:36%;
}

.print-table th:nth-child(2),
.print-table td:nth-child(2){
    width:22%;
}

.print-table th:nth-child(3),
.print-table td:nth-child(3){
    width:14%;
}

.print-table th:nth-child(4),
.print-table td:nth-child(4){
    width:18%;
}

.print-table th:nth-child(5),
.print-table td:nth-child(5){
    width:14%;
}

.doctor-cell{
    display:flex;
    align-items:center;
    gap: 1.6em;
}

.doctor-avatar{
    width:40px;
    height:40px;
    position: relative;
    left: 0.6em;
    border-radius:999px;
    object-fit:cover;
    flex-shrink:0;
}

.pagination{
    padding: 0.6em 0.2em;
}

.peginationButton{
    position: relative;
    right: 2em;
}


@media print {

   body{
        margin:0;
        padding:0;
        background:white;
    }

    @page{
        size:A4 landscape;
    }
    .Dialogs{
        max-height:none !important;
        overflow:visible !important;
        border:none !important;
        box-shadow:none !important;
    }

    .searchDepartment,
    .pagination,
    button,
    .print\\:hidden{
        display:none !important;
    }

    table{
        width:100%;
        table-layout:fixed;
        border-collapse:collapse;
        page-break-inside:auto;
    }

    thead{
        display:table-header-group;
    }

    tr{
        page-break-inside:avoid;
    }

    th,
    td{
        border:1px solid #d1d5db;
        padding:12px;
        vertical-align:middle;
        word-break:break-word;
    }

    img{
        width:40px;
        height:40px;
        border-radius:50%;
    }

 [data-slot="dialog-close"]{
    display: none !important;
  }

  [data-radix-popper-content-wrapper]{
      display:none !important;
  }

  button{
      display:none !important;
  }
    /* Hide Dialog Close Button */
  [data-slot="dialog-close"]{
      display:none !important;
  }

  /* Hide Dropdown Menus */
  [data-radix-popper-content-wrapper]{
      display:none !important;
  }

  /* Hide Tooltips */
  [role="tooltip"]{
      display:none !important;
  }

}